<li>Commenter:<%= comment.commenter %>
  <br/>Comment body:<%= comment.body %>
  <br/><%= link_to 'Destroy', [comment.article, comment],
                   method: :delete,
                   data: { confirm: 'Are you sure' } %>
</li>